################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/_bin
/_int
/.vs
/Automata.Programming.Paradigm/Automata.Programming.Paradigm.vcxproj.user
x64
*.suo
/ipch/AUTOMATA.PROGRAMMING.PARADIGM-e468bc04
/Automata.Programming.Paradigm.VC.VC.opendb
/Automata.Programming.Paradigm.VC.db
